/* dark.css */
:root {
  --gradient:   linear-gradient(120deg, #431e36, #252043, #274561, #2f0d43, #000000);
  --text:       #dde4f8;
  --accent:     #8b6fc7;
  --title-grad: linear-gradient(90deg, #8b6fc7, rgba(30,0,75,.8), #8b6fc7);
  --icon-color: rgba(255,255,255,0.85);
}

.background { animation: gradientShift 28s ease infinite; }
