/* morning.css */
:root {
  --gradient:   linear-gradient(120deg, #fddb92, #b2d4d6, #b0e86b);
  --text:       #404036;
  --accent:     rgba(37,116,11,.86);
  --title-grad: linear-gradient(90deg, rgba(37,116,11,.86), rgba(41,151,16,.7), rgba(37,116,11,.86));
  --icon-color: var(--accent);
}

.background { animation: gradientShift 28s ease infinite; }
