/* rose-light.css */
:root {
  --gradient:   linear-gradient(120deg, #ff9a9e, #fad0c4, #ffdde1);
  --text:       #272224;
  --accent:     #f73158;
  --title-grad: linear-gradient(90deg, #f73158, rgba(104,23,56,.76), #f73158);
  --icon-color: var(--accent);
}

.background { animation: gradientShift 28s ease infinite; }
