/* rose-dark.css */
:root {
  --gradient:   linear-gradient(120deg, #8e0024, #200122, #ad1138);
  --text:       rgba(253,225,225,.82);
  --accent:     #c0385a;
  --title-grad: linear-gradient(90deg, #c0385a, rgba(24,4,9,.95), #c0385a);
  --icon-color: rgba(255,255,255,0.85);
}

.background { animation: gradientShift 28s ease infinite; }
